@font-face {
	font-family: customFonts;
	src: url(FjordOne-Regular.ttf);
}

:root {
	--dark-color-a: #11141a;
	--dark-color-b: #1a1f29;
	--dark-gradient: linear-gradient(to right, #485461, #141921);
	--light-gradient: linear-gradient(to right, #8B939A, #5B6467);
	--light-color: #8B939A;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: customFonts;
	font-size: 18px;
	background: var(--dark-gradient);
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}


.header-image img{
    height: 170px;
    width: 165px;
    justify-content: center;
}

.chat-logo img{
    height: 100px;
    width: 180px;
    margin-left: 15px;
}
.btn {
	cursor: pointer;
	padding: 10px 15px;
	background: var(--light-gradient);
	color: #fff;
	border: 0;
	font-family: customFonts;
	font-size: 17px;
}

.index-centered {
  position: fixed; /* or absolute */
  top: 15%;
  left: 37%
}

.chat-centered {
  position: fixed; /* or absolute */
  top: 10%;
  left: 20%;
}

/* Chat Page */

.chat-container {
	width: 1100px;
	background: var(--light-gradient);
	margin: 30px auto;
	overflow: hidden;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-family: customFonts;	
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	height: 400px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: rgb(197, 206, 211);
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-family: customFonts;
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-container .btn {
	text-align: center;
	border-radius: 12px;
	width: fit-content;
	margin-left: 10px;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
	justify-content: space-between;
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-family: customFonts;
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

.chat-form-container .btn {
	text-align: center;
	border-radius: 50%;
	width: fit-content;
}

/* Join Page */
.join-container {
	width: 500px;
	margin: 80px auto;
	color: #8B939A;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-family: customFonts;
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-family: customFonts;
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;	
}

.join-main .btn {
	margin-top: 20px;
	border-radius: 5px;
	width: fit-content;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}

.center {
  display: flex;
  justify-content: center;
}

.index-box-shadow {
  height: 422px;
  width: 500px;
  border-radius: 5px;
  box-shadow: 1px 2px 3px 5px rgba(16,16,16,0.2);
}

.chat-box-shadow {
  height: 613px;
  width: 1100px;
  border-radius: 5px;
  box-shadow: 1px 2px 3px 5px rgba(16,16,16,0.2);
}

select {
	/* reset */
  
	margin: 0;      
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
  }

select.room {
	background-image:
	  linear-gradient(45deg, transparent 50%, gray 50%),
	  linear-gradient(135deg, gray 50%, transparent 50%),
	  linear-gradient(to right, #ccc, #ccc);
	background-position:
	  calc(100% - 20px) calc(1em + 2px),
	  calc(100% - 15px) calc(1em + 2px),
	  calc(100% - 2.5em) 0.5em;
	background-size:
	  5px 5px,
	  5px 5px,
	  1px 1.5em;
	background-repeat: no-repeat;
  }
  
  select.minimal:focus {
	background-image:
	  linear-gradient(45deg, green 50%, transparent 50%),
	  linear-gradient(135deg, transparent 50%, green 50%),
	  linear-gradient(to right, #ccc, #ccc);
	background-position:
	  calc(100% - 15px) 1em,
	  calc(100% - 20px) 1em,
	  calc(100% - 2.5em) 0.5em;
	background-size:
	  5px 5px,
	  5px 5px,
	  1px 1.5em;
	background-repeat: no-repeat;
	border-color: green;
	outline: 0;
  }
  
